Package: utilitiesmanager
Version: 0.3.0~alpha202603031006
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Alexander
Description: Utilities Manager - Avalonia application packaged as a .deb
