Package: utilitiesmanager
Version: 0.4.0~alpha202603110830
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Alexander
Description: Utilities Manager - Avalonia application packaged as a .deb
